body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: 'Kanit', 'Rubik Iso' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff
}

.searchBox {
  width: 400px;
  padding: .8em;
  text-align: center;
  margin: 1em;
  background: rgb(82, 82, 195);
  border: none;
  border-radius: 5px;
}

.searchBox::placeholder {
  color: #1c1c1c
}

